<a
  class="stat-card-link"
  [class.clickable]="!!link"
  [routerLink]="link || null"
  [attr.tabindex]="link ? 0 : -1"
  [attr.aria-disabled]="link ? null : true">

  <mat-card class="stat-card" [class.static]="!link">

    <div class="card-header">

      <div class="icon-container" [style.background]="color">
        <mat-icon>{{ icon }}</mat-icon>
      </div>

      <div class="details">
        <div class="title">
          {{ title }}
        </div>

        <div class="value">
          {{ value }}
        </div>
      </div>

    </div>

  </mat-card>
</a>
