<mat-sidenav-container class="container">
  <mat-sidenav
    class="app-sidenav"
    mode="side"
    opened
    [class.expanded]="sidebarExpanded()">
    <app-sidebar
      [expanded]="sidebarExpanded()"
      (expandedChange)="onSidebarExpandedChange($event)">
    </app-sidebar>
  </mat-sidenav>

  <mat-sidenav-content>
    <app-header [sidebarExpanded]="sidebarExpanded()"></app-header>

    <div class="content">
      <app-breadcrumbs></app-breadcrumbs>
      <router-outlet></router-outlet>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>
